@model PROG7311_PART2_ST10091214.Models.Employee

@{
	ViewData["Title"] = "Edit Employee";
}
<body style="background-color:mediumseagreen; font-family:'Consolas'">
	<h1>Edit employee details</h1>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="username" class="control-label"></label>
					<input asp-for="username" class="form-control" />
					<span asp-validation-for="username" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="password" class="control-label"></label>
					<input asp-for="password" class="form-control" />
					<span asp-validation-for="password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="emp_id" class="control-label"></label>
					<input asp-for="emp_id" class="form-control" />
					<span asp-validation-for="emp_id" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="name" class="control-label"></label>
					<input asp-for="name" class="form-control" />
					<span asp-validation-for="name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="surname" class="control-label"></label>
					<input asp-for="surname" class="form-control" />
					<span asp-validation-for="surname" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="phone" class="control-label"></label>
					<input asp-for="phone" class="form-control" />
					<span asp-validation-for="phone" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a style="color:black" href="javascript:history.back()">Back</a>
	</div>
</body>
